
<h4><a href="https://github.com/JazzBrown1/jazzy-authenticate" target ="blank" >Github: https://github.com/JazzBrown1/jazzy-authenticate</a></h4>
<h4><a href="https://www.npmjs.com/package/jazzy-authenticate" target ="blank" >NPM: https://www.npmjs.com/package/jazzy-authenticate</a></h4>
<span>Created by Jazz Brown - Distributed under the MIT license</span>